.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-links li {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo img:hover {
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.setting-btn {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
  color: white;
}